.links {
  li {
    list-style-type: none;
    font-size: 2vw;
  }

  a {
    text-decoration: none !important;
    color: #000;
  }
  a:hover {
    color: #036;
  }

  // img, svg {
  //   margin-right: 5%;
  // }
  // img {
  //   height: 2vh;
  // }

  .link-text {
    text-decoration: none;
    padding: 0 1em;

    &:hover {
      text-decoration: underline;
    }
  }

  .url-text {
    color: #224;
    font-style: italic;
    text-decoration: none !important;
  }

  .mix-hide {
    .link-text {
      visibility: hidden;
    }

    &:hover .link-text {
     visibility: visible;
    }
  }

  .mix-show .link-text {
    visibility: visible;
  }

  .mix-url {
    .link-text {
      visibility: visible;
    }
    .url-text {
      padding-left: 3vw;
      visibility: hidden;
    }
    &:hover .url-text {
      visibility: visible;
    }
  }

  
}
