.links {
  li {
    list-style-type: none;
  }
  &.horiz li {
    display: inline;
  }

  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    color: #036;
  }

  img, svg {
    margin-right: 5px;
  }
  img {
    height: 2rem;
  }

  .link-text {
    text-decoration: none;
    padding: 0 1em;

    &:hover {
      text-decoration: underline;
    }
  }

  .url-text {
    color: #224;
    font-style: italic;
    text-decoration: none !important;
  }

  .mix-hide {
    .link-text {
      visibility: hidden;
    }

    &:hover .link-text {
     visibility: visible;
    }
  }

  .mix-show .link-text {
    visibility: visible;
  }

  .mix-url {
    .link-text {
      visibility: visible;
    }
    .url-text {
      padding-left: 3em;
      visibility: hidden;
    }
    &:hover .url-text {
      visibility: visible;
    }
  }

  
}
