
.process-images {
  border: inset 2px silver;
  border-radius: 4px;
  padding: 5px;

  .process-label {
    text-align: left;
    margin-top: -30px;
    
    .label {
      background-color: #333;
      color: #fff;
      border: 1px solid #666;
      padding: 3px;
      font-family: 'Roboto';
      font-size: 12px;
    }
  }
  
  img {
    border-radius: 5px;
    margin: 0.2em 0.4em;
  }

}

.no-progress {
  width: 80%;
  margin: 10px auto;
  border-bottom: thin ridge;
}

.story {
  max-width: 70vw;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #666;
  text-align: center;

  .display-image {
    margin-bottom: 3em;
  }
}
