$menu-bkg: #efeeea;
$menu-text: #000;
$menu-item-border: #aaa;
$menu-active-bkg: #000;
$menu-active-text: #fff;
$menu-ext-link: #006;



.menu-wrapper {
  background-color: $menu-bkg;


  .navbar-nav {
    // display: inline;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2rem;
  }

  .nav-item {
    margin: 0 0.2em;

    a {
      color: $menu-text;
      border: 1px solid transparent;
      border-radius: 3px;
      text-decoration: none;
      padding: 0 0.5em;
  
      &:hover {
        border-color: $menu-item-border;
      }
  
      &.active, &.active:hover {
        border-color: $menu-active-bkg;
        background-color: $menu-active-bkg;
        color: $menu-active-text !important;
      }
  
      &.external-link {

        // padding: 0;
        svg {
          // float: right;
          // visibility: hidden;
          font-size: 0.5rem;
          display: inline;
        }
        &:hover {
          border-color: $menu-ext-link;
          color: $menu-ext-link;
          // background-color: $menu-ext-bkg;
          // color: $menu-active-text;
        }
      }
    
    }

  }

}



