$menu-bkg: #efeeea;
$menu-text: #000;
$menu-active-bkg: #000;
$menu-active-text: #fff;




.navbar-nav {
  // display: inline;
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.5rem;
}
a.nav-link {
  color: $menu-text;
  text-decoration: none;
  padding: 0 2px;

  &:hover {
    text-decoration: underline;
  }

  &.active, &.active:hover {
    background-color: $menu-active-bkg;
    border-radius: 3px;
    text-decoration: none;
    color: #fff !important;
  }

  &.homelink {
    color: $menu-text;
    background-color: $menu-bkg;
    text-decoration: none;
  }
}






.menu-wrapper {
  background-color: $menu-bkg;
}


.menu {
  // display: flex;
  // justify-content: space-around;

  background-color: $menu-bkg;
  color: $menu-text;
  

  .site-logo {
    padding: 0.3em;
    border: solid 0.4em silver;
    border-radius: 50px;
    background-color: silver;
    cursor: pointer;
    &:hover {
      border-color: #888;
      background-color: #888;
    }
  }


  .navbar-nav {
    // display: inline;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2rem;
  }
  a.nav-link {
    color: $menu-text;
    text-decoration: none;
    padding: 0 2px;

    &:hover {
      text-decoration: underline;
    }

    &.active, &.active:hover {
      background-color: $menu-active-bkg;
      border-radius: 3px;
      text-decoration: none;
      color: $menu-active-text;
    }

    &.homelink {
      color: $menu-text;
      background-color: $menu-bkg;
      text-decoration: none;
    }
  }
}

