
 .gallery {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  // max-height: 60vh;
  overflow: auto;

  .thumbnail {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    opacity: 0.7;
    border: 2px solid #ccc;

    &.selected {
      border: 2px outset #000;
      opacity: 1;
    }
  }

}


