.gallery {
  display: flex;
  flex-wrap: wrap;
  background-color: #ddd;
  border-radius: 0.3em;
  justify-content: center;
  // max-height: 100vh;
  overflow: auto;

  .thumbnail {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    opacity: 0.8;
    border: thin solid #ccc;

    &.selected {
      border: thin outset #000;
      opacity: 1;
    }
  }

}
