.gallery-nav {
  background-color: #ddd;
  border-radius: 5px;
  padding: 2px 3px;
  cursor: pointer;
  text-align: center;
  color: #000; }
  .gallery-nav div {
    display: inline;
    margin: 0 5px; }
  .gallery-nav a {
    text-decoration: none;
    color: #111;
    padding: 2px 3px; }
    .gallery-nav a:hover {
      text-decoration: underline; }
    .gallery-nav a.active, .gallery-nav a.active:hover {
      background-color: #333 !important;
      text-decoration: none;
      color: #ddd;
      border-radius: 2px; }

.album-list {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.select-label {
  font-size: 14px; }

.list-title {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 22px; }

.album-btn {
  border: outset thin;
  padding: auto;
  margin: 2px;
  cursor: pointer;
  text-align: center; }
  .album-btn .album-name {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #000; }
  .album-btn .album-desc {
    font-size: 10px;
    text-align: left;
    margin: 5px;
    visibility: hidden; }
  .album-btn:hover .album-desc {
    visibility: visible; }

.selected-nav {
  border: inset thin;
  background-color: #ccc; }
  .selected-nav .album-name {
    color: #000;
    font-weight: 600; }

.current-nav {
  text-align: center;
  margin: 5px auto;
  color: #000; }
  .current-nav .nav-title {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Great Vibes', cursive; }
  .current-nav .nav-description {
    font-size: 1em;
    font-weight: normal;
    font-family: 'Source Code Pro', monospace; }

    .process-images {
      border: inset 2px silver;
      border-radius: 4px;
      padding: .6em; }
      .process-images img {
        border-radius: 5px;
        margin: 0.2em 0.4em; }
    
    .story {
      max-width: 70vw;
      margin: 0 auto;
      border-radius: 5px;
      background-color: #666;
      text-align: center; }
      .story .display-image {
        margin-bottom: 3em; }

.image-box {
          width: 60vw;
          display: grid;
          grid-template-columns: 1fr 4fr 1fr;
          grid-template-rows: 1fr 1fr; }
          .image-box .image-nav-btn {
            cursor: pointer; }
            .image-box .image-nav-btn img, .image-box .image-nav-btn svg {
              margin-top: 5em; }
        
        .image-view {
          text-align: center;
          border-radius: 5px; }
          .image-view img {
            cursor: pointer; }
        
        .spacer {
          background-color: transparent; }
        
        .image-info {
          border: 1px inset #999;
          border-radius: 3px;
          background-color: #eee;
          color: #000;
          padding: 3px 5px;
          margin-top: 2px;
          text-align: left; }
          .image-info .title {
            font-size: 2em;
            font-weight: bold; }
          .image-info .descript {
            font-size: 1em;
            font-weight: normal; }
          .image-info .label {
            font-size: 1em;
            font-weight: normal;
            text-align: right;
            color: #666; }
          .image-info .info {
            font-size: 1.2em;
            text-align: left;
            font-weight: bold;
            color: #000; }
        
        .feature {
          margin: 0 2px;
          padding: 2px 4px;
          border-radius: 6px;
          text-align: center;
          cursor: pointer;
          color: #fff; }
          .feature:hover {
            color: #fff; }
        
        .options {
          line-height: 2em;
          margin: 5px 0;
          font-size: 1.5em; }
          .options .option {
            display: inline;
            list-style-type: none; }
        
        .buy-orig {
          background-color: #900; }
        
        .buy-print {
          background-color: #060; }
        
        .view-process {
          background-color: #00f; }
        
        .nfs, .nfs:hover {
          background-color: #000;
          color: #fff; }
        
        .close-btn, .close-btn:hover {
          float: right;
          padding: 0.5em;
          margin-right: 1em;
          border-radius: 3px;
          background-color: #000;
          color: #fff; }
        
        .order-form {
          border-radius: 5px;
          border: inset thin #333;
          padding: 0.5em; }
          .order-form .form-group .form-control {
            display: inline-block;
            width: 70%;
            margin-left: 1em; }
          .order-form .buttons {
            text-align: right; }
        
            .gallery-title {
              font-size: 2em;
              font-family: 'Roboto', sans-serif;
              font-weight: bold;
              text-transform: capitalize;
              text-align: center; }
            
            .display-area {
              display: grid;
              grid-template-columns: 1fr 1fr; }
              .display-area .gallery {
                display: flex;
                flex-wrap: wrap;
                background-color: #ddd;
                border-radius: 0.3em;
                justify-content: center;
                max-height: 60vh;
                overflow: auto; }
                .display-area .gallery .thumbnail {
                  display: inline-block;
                  margin: 5px;
                  cursor: pointer;
                  opacity: 0.8;
                  border: thin solid #ccc; }
                  .display-area .gallery .thumbnail.selected {
                    border: thin outset #000;
                    opacity: 1; }
                .display-area .gallery .title {
                  display: none;
                  font-size: 12px;
                  font-family: 'Roboto', sans-serif;
                  text-align: center; }
            