
main.home {
  background-color: black;
  text-align: center;
  opacity: 1;
}

main.home h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  font-weight: bold;
}
main.home .carousel {
  opacity: 1.0;
}

main.home .featured h3.header {
  color: #fff;
}


.basic-gallery {
  display: flex;
  justify-content: space-around;
}

.basic-gallery img {
  margin: 1em;
  cursor: pointer;
}

