.menu {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  color: #000; }
  .menu .site-logo {
    padding: 1rem 0 0 1rem; }
  .menu .site-title {
    font-size: 2em;
    font-family: 'Great Vibes', cursive; }
  .menu .nav-grid {
    width: 80vw;
    display: grid;
    grid-template-columns: 2fr 1fr; }
    .menu .nav-grid div {
      padding-top: 1em;
      vertical-align: bottom; }
  .menu .top-row {
    text-align: center; }
  .menu .bottom-row {
    padding-top: 1rem;
    vertical-align: bottom; }
  .menu .right-col {
    text-align: right; }
  .menu .nav {
    display: inline;
    text-align: center;
    font-feature-settings: "c2sc";
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2rem; }
  .menu .nav-item {
    display: inline;
    padding: 0 1em; }
    .menu .nav-item a {
      color: #000;
      text-decoration: none;
      padding: 0 2px; }
      .menu .nav-item a:hover {
        text-decoration: underline; }
      .menu .nav-item a.active, .menu .nav-item a.active:hover {
        background-color: #000;
        border-radius: 3px;
        text-decoration: none;
        color: #fff; }
      .menu .nav-item a.homelink {
        color: #000;
        background-color: transparent;
        text-decoration: none; }
  .menu .login-text {
    padding: 1em 1em 0 1em;
    color: #000;
    font-size: 12px;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: normal; }
  .menu .login, .menu .cart {
    cursor: pointer; }
