
.about-content {
  
  margin: 2em 1em;

  .me-text {
    text-align: left;
  }
  .me-photo {
    border: thin inset;
    float: left;
    margin: 5px;
  }

  section {
    margin: 0.5em 1em;
   
  }
  
}
