.image-box {
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;

  .image-nav-btn {
    // margin-top: 30%;
    cursor: pointer;
    img, svg {
      margin-top: 5em;
    }
  }

  
}
.image-view {
  
  // margin: 10px 5px;
  text-align: center;
  border-radius: 5px;

  .display-image {
    cursor: pointer;
  }

  .process-image {
    z-index: 100;
    margin-top: -400px;
    text-align: center;
    width: 600px;
    height: 400px;
    background-color: black;
    cursor: pointer;

    opacity: .9;

    img {
      opacity: 1;
      margin: 100px auto;
    }

  }

}
  
.spacer {
  background-color: transparent;
  
}

.image-info {
  border: 1px inset #999;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  padding: 3px 5px;
  margin-top: 2px;
  text-align: left;

  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .descript {
    font-size: 1em;
    font-weight: normal;
  }

  .label {
    font-size: 1em;
    font-weight: normal;
    text-align: right;
    color: #666;
  }
  .info {
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
    color: #000;
  }
}

.feature {
  margin: 0 2px;
  padding: 2px 4px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.options {
  line-height: 2em;
  margin: 5px 0;
  font-size: 1.5em;

  .option {
    display: inline;
    list-style-type: none;
  }
}

.buy-orig {
  background-color: #900;
  
}
.buy-print {
  background-color: #060;
}
.view-process {
  background-color: #00f;
}
.nfs, .nfs:hover {
  background-color: #000;
  color: #fff;
}

.close-btn, .close-btn:hover {
  float: right;
  padding: 0.5em;
  margin-right: 1em;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
}

.order-form {
  border-radius: 5px;
  border: inset thin #333;
  padding: 0.5em;

  .form-group {

    // .form-label {
    //   display: inline;
    // }
    .form-control {
      display: inline-block;
      width: 70%;
      margin-left: 1em;
    }
  }

  .buttons {
    text-align: right;
  }
  
} 

