.gallery-title {
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  text-transform: capitalize;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery .img {
  display: inline-block;
  margin: 5px;
}

.gallery .title {
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
