body {
  background-color: black;
  color: white;
}

.album-list {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-title {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.album-btn {
  display: inline;
  border: outset thin;
  margin: 2px;
  cursor: pointer;
}

.album-name {
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
