$base-bkg: #fff;
$base-text: #555;
$base-header: #000;

$todo-bkg: #000;
$todo-text: #0ff;

$error-bkg: #f00;
$error-text: #000;

$nodata-text: #f00;

$menu-bkg: #00fdc8;
$menu-text: #000;
$menu-active-bkg: #000;
$menu-active-text: #fff;

$footer-bkg: #000;;
$footer-text: #00fdc8;
