// Only show when in development environment and Dev mode

.dev-mode {

  /* DEV STUFF */
  .todo {
    font-family: 'Courier New', Courier, monospace;
    color: #0ff;
    background-color: #000;
    
  }
  
  
  .todo::before {
    content: 'TODO: ';
  }
  
  .dev-msg {
    background-color: #000;
    color: #0cc;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .in-progress {
    font-style: italic;
    background-color: #666;
    color: #fff;
    border-radius: 3px;
    padding: 2px 5px;
    text-align: center;
  }
  .in-progress-message {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: center;
  }


  /* MENU */

  $menu-edge: red;
  $logo-bkg: orange;
  $logo-hvr: orangered;
  $social-edge: pink;
  $nav-edge: #0cc;

  .menu {
    outline: thin $menu-edge solid;

    .site-logo {
      border-radius: 0;
      border-color: $logo-bkg;
      background-color: $logo-bkg;
      &:hover {
        border-color: $logo-hvr;
        background-color: $logo-hvr;
      }
    }

    .nav {
      outline: 2px solid $nav-edge;
    }

    .social {
      outline: thin solid $social-edge;
    }
   
  }


  // MAIN CONTENT
  $content-edge: #000;

  .content {
    outline: thin $content-edge solid;
  
  
    header {
      outline: thin orange solid;
  
    }


  

    // DISPLAY
    .display-area {
      outline: thin green dashed;



      // GALLERY
      .gallery {
        outline: thin blue solid;
      }

      .image-box {
        outline: thin red solid;

        .image-nav-btn {
          outline: thin silver solid;
          background-color: white;
          opacity: 0.4;
        }

        .image-view {
          outline: thin green solid;
        }
      }
    }
  }
  
  
  // FOOTER
  $footer-txt: yellow;
  .footer {
    color: $footer-txt;
  }
  
}

