.image-box {
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;

  .image-nav-btn {
    // margin-top: 30%;
    cursor: pointer;
    img, svg {
      margin-top: 5em;
    }
  }

  
}
.image-view {
  
  // margin: 10px 5px;
  text-align: center;
  border-radius: 5px;

  img {
    cursor: pointer;
  }

}
  
.spacer {
  background-color: transparent;
  
}

.image-info {
  border: 1px inset #999;
  border-radius: 3px;
  background-color: #eee;
  color: #000;
  padding: 3px 5px;
  margin-top: 2px;
  text-align: left;

  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .descript {
    font-size: 1em;
    font-weight: normal;
  }

  .label {
    font-size: 1em;
    font-weight: normal;
    text-align: right;
    color: #666;
  }
  .info {
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
    color: #000;
  }
}



.options {
  line-height: 2em;
  margin: 5px 0;
  font-size: 1.5em;

  .option {
    display: inline;
    list-style-type: none;
  }
}

a.purchase {
  margin: 0 2px;
  padding: 2px 4px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
.buy-orig {
  background-color: #900;
  
}
.buy-print {
  background-color: #060;
}
.view-process {
  background-color: #00f;
}
.nfs {
  background-color: #ccc;
  color: #333 !important;
}

 
