

.gallery-title {
  font-size: 2em;
  font-family: 'Indie Flower', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

.display-area {
  display: flex;
  flex-direction: row;
  // border: thin solid red;

  .gallery {
    display: flex;
    flex-wrap: wrap;
    
    // justify-content: center;
    // border: thin solid blue;
    

    .thumbnail {
      display: inline-block;
      margin: 5px;
      cursor: pointer;
      border: thin inset #ccc;
      opacity: 0.7;

      &.selected {
        border: thin outset #666;
        opacity: 1;
      }
    }

    .title {
      display: none;
      font-size: 12px;
      font-family: 'Indie Flower', sans-serif;
      text-align: center;
    }
  }

  
}
