
.home-gallery {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;

  .thumbnail {
    margin: 1em;
  }
}

.home-bkg {
  background-clip: content-box;
  background-image: url(https://res.cloudinary.com/cantimaginewhy/image/upload/v1571965112/me/caterpillar2.jpg);
  opacity: 0.4;

  
}


main {
  text-align: center;
  opacity: 1;

  h1 {
    font-family: 'Amatic SC';
    font-size: 3em;
    font-weight: bold;
  }
  .carousel {
    opacity: 1.0;
  }
}




