

main {
  text-align: center;
  opacity: 1;

  h1 {
    font-family: 'Amatic SC';
    font-size: 3em;
    font-weight: bold;
  }
  .carousel {
    opacity: 1.0;
  }
}


.basic-gallery {
  display: flex;
  justify-content: space-around;

  img {
    margin: 1em;
  }

}



