body {
  background-color: black;
  color: white;
}

.album-list {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select-label {
  font-size: 14px;
}

.list-title {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}

.album-btn {
  display: inline;
  border: outset thin;
  margin: 2px;
  cursor: pointer;
}

.album-name {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.gallery-nav {
  background-color: #ddd;
  border-radius: 5px;
  padding: 2px 3px;
  cursor: pointer;
  text-align: center;
  color: #333;
}
.gallery-nav div {
  display: inline;
  
  margin: 0 5px;
}
.gallery-nav a {
  text-decoration: none;
  color: #333;
  padding: 2px 3px;
}
.gallery-nav a:hover {
  text-decoration: underline;
}
.gallery-nav a.active, .gallery-nav a.active:hover {
  background-color: #333;
  text-decoration: none;
  color: #ddd;
  border-radius: 2px;
}
