@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Roboto|Indie+Flower&display=swap');
@import 'colors';
@import 'menu.scss';

body {
  // background-color: $base-bkg;
  background-color: #fff;
  color: $base-text;
  font-family: Roboto;
}

h1, h2, h3, h4, h5, h6, header {
  font-family: 'Roboto', sans-serif;
  color: $base-header;
}

// GLOBAL CLASSES

.todo {
  font-family: 'Courier New', Courier, monospace;
  color: $todo-text;
  background-color: $todo-bkg;
  
}

.in-progress {
  font-style: italic;
  background-color: #666;
  color: #fff;
  border-radius: 3px;
  padding: 2px 5px;
  text-align: center;
}
.in-progress-message {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  text-align: center;
}


.no-data {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: $nodata-text;
  background-color: transparent;
}

.loading {
  color: #ff0;
  font-weight: bold;
}

.todo::before {
  content: 'TODO: ';
}

.content {
  margin: 1rem auto;
  padding: 10px;
  min-height: 75vh;


  header {
    // font-size: 3em;
    text-align: center;
    margin: 1em 2em;

    .page-title {
      font-family: 'Great Vibes';
      text-align: center;
    }

    .page-desc {
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      margin: 1em auto;
      max-width: 60%;
    }
  }

  .display-area {
    text-align: center;
    margin: 0 1em;
  }
}


.page-container {
  position: relative;
  min-height: 100vh;
  text-align: center;
}
.content-wrapper {
  padding-bottom: 2rem;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2rem;
  background-color: $footer-bkg;
  color: $footer-text;
  padding-top: 5px;
  
  .copyright {
    float: left;
    margin-left: 10px;
  }

  

}

.social {
  float: right;
  margin: 1em 1em 0 0;
  img {
    height: 3rem;
    margin-right: 5px;
  }
  a {
    color: #fff;

  }
}
