.menu {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  // border-radius: 5px;
  color: $menu-bkg;
  font-variant: small-caps;
  font-size: 2rem;
  font-weight: bold;
  // height: 10vh;
  width: 100vw;

  .site-logo {
    padding: 2rem 0 0 2rem;
  }

  .column {
    display: inline;
  }

  .nav {
    display: inline;
    text-align: center;
    vertical-align: bottom;
    padding-top: 2rem;
  }

  .nav-item {
    display: inline;
    padding: 0 5px;
    margin: 2px;

    a {
      color: $menu-text;
      text-decoration: none;
      padding: 0 2px;

      &:hover {
        text-decoration: underline;
      }

      &.active, &.active:hover {
        background-color: $menu-active-bkg;
        border-radius: 3px;
        text-decoration: none;
        color: $menu-active-text;
      }

      &.homelink {
        color: $menu-text;
        background-color: $menu-bkg;
        text-decoration: none;
      }
    }

  }

}



