.menu {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  // border-radius: 5px;
  color: $menu-text;
  font-variant: small-caps;
  font-size: 2rem;
  font-weight: bold;
  // height: 10vh;
  // width: 100vw;

  .site-logo {
    padding: 2rem 0 0 2rem;
  }

  .column {
    display: inline;
  }

  .nav {
    display: inline;
    text-align: center;
    vertical-align: bottom;
    padding-top: 3rem;
  }

  .nav-item {
    display: inline;
    padding-top: 2rem;
    padding-left: 5px;
    padding-right: 5px;

    a {
      color: $menu-text;
      text-decoration: none;
      padding: 0 2px;

      &:hover {
        text-decoration: underline;
      }

      &.active, &.active:hover {
        background-color: $menu-active-bkg;
        border-radius: 3px;
        text-decoration: none;
        color: $menu-active-text;
      }

      &.homelink {
        color: $menu-text;
        background-color: $menu-bkg;
        text-decoration: none;
      }
    }

  }

  .right-col {
    padding-right: 1em;
    padding-top: 1em;

    .top-row {
      display: flex;
      justify-content: space-between;

      .login-text {
        padding-top: 1em;
        color: $menu-text;
        font-size: 12px;
        font-variant: normal;
        font-weight: normal;
      }
    }

    .bottom-row {
      padding-top: 1em;
      text-align: left;
    }
  }

}



