
$nav-bkg: #ddd;
$nav-text: #000;
$nav-link-text: #111;
$nav-active-bkg: #333;
$nav-active-text: #ddd;

$album-bkg: #fff;
$album-text: #000;

$selected-album-bkg:#000;
$selected-album-text: #fff;



.category-bar {
  background-color: $nav-bkg;
  font-variant: normal;
  font-size: 1em;
  padding: 2px 2em;

  .browse-title {
    color: $nav-text;
    font-size: 1.5em;
    font-family: 'Great Vibes';
    text-align: center;
  }

  .nav-item {
    padding: 2px 3px;
  }

  .nav-link {
    color: $nav-link-text !important;
    text-decoration: none;
    
    &.active {
      background-color: $nav-active-bkg !important;
      color: $nav-active-text !important;
      border-radius: 2px;
    }

  }

  .filter-wrapper {
    border: 1px solid $nav-text;
    border-radius: 5px;
    padding: 1px 0;

    .filters {
      margin-left: 0.5em;

      .navbar-text {
        // line-height: 1;
        font-size: small;
        padding-bottom: 0 !important;
        padding-top: 0.7rem !important;
      }
    }
  }

  .category-desc {
    font-size: 0.8em;
    margin-right: 0.5em;

    .active-desc {
      color: #000;
    }
    .hover-desc {
      color: #888;
    }
  }
}

.album-bar {

  .albums {
    text-align: center;
    .album-btn {
      display: inline-block;
      border: outset thin;
      padding: auto;
      margin: 2px;
      cursor: pointer;
      text-align: center;
    
      .album-name {
        font-size: 0.8em;
        font-family: 'Gotu', sans-serif;
        text-align: center;
        color: $album-text;
      }
    
    }
    .selected-nav {
      border: inset thin;
      background-color: $selected-album-bkg;
    
      .album-name {
        color: $selected-album-text;
        font-weight: 600;
      }
    }
  }

  .gallery-col {
    text-align: right;
  }

  .current-item {
    display: none;
    // width: 100%;
    // padding: 0 auto;
    // padding-top: 2em;
    // text-align: right;
    // // border: thin solid;
    // border-radius: 0.2em;

    // .nav-title {
    //   text-align: center;
    //   font-family: 'Great Vibes', cursive;
    //   font-size: 1.5em;
    //   font-weight: 600;
    // }
    // .nav-description {
    //   text-align: center;
    //   font-family: 'Gotu', sans-serif;
    //   font-size: 0.8em;
    //   font-weight: normal;
    // }
  }
  
  
}

// DEVELOPMENT MODE

$dev-nav-bkg: #ddd;
$dev-nav-text: #003;
$dev-nav-link-text: #066;
$dev-nav-active-bkg: #033;
$dev-nav-active-text: #fff;

$dev-album-bkg: #0ff;
$dev-album-text: #000;

$dev-selected-album-bkg: #0cc;
$dev-selected-album-text: #000;


.dev-mode {

  .col {
    outline: thin dashed gray;
  }

  .category-bar {
    background-color: $dev-nav-bkg;

   

    .label {
      color: $dev-nav-text;
    }

    .nav-link {
      color: $dev-nav-link-text;
      
      &.active {
        background-color: $dev-nav-active-bkg !important;
        color: $dev-nav-active-text !important;
      }

    }

    .category-desc {

      .active-desc {
        color: #000;
      }
      .hover-desc {
        color: #088;
      }
    }
    
  }

  .album-bar {
    outline: thin double #870;

    .explanation {
      font-family: 'Courier New', Courier, monospace;
      outline: thin dashed #800;
      max-height: 10vh;
    }

    .albums {
      .album-btn {
        .album-name {
          font-family: 'Courier New', Courier, monospace;
          color: $dev-album-text;
        }
      
      }
      .selected-nav {
        background-color: $dev-selected-album-bkg;
      
        .album-name {
          color: $dev-selected-album-text;
        }
      }
    }

    

    .current-item {
      border: thin solid #c0c;
      border-radius: 0.2em;
      padding: 0.3em;

      .nav-description {
        font-family: 'Courier New', Courier, monospace;
      }
    }
    
  }

}
