
$nav-bkg: #ddd;
$nav-text: #000;
$nav-link-text: #111;
$nav-active-bkg: #333;
$nav-active-text: #ddd;

$album-bkg: #fff;
$album-text: #000;

$selected-album-bkg: #ccc;
$selected-album-text: #000;



.category-bar {
  background-color: $nav-bkg;
  font-variant: normal;
  font-size: 1em;

  .nav-item {
    padding: 2px 3px;
  }

  .nav-link {
    color: $nav-link-text;
    text-decoration: none;
    
    &.active {
      background-color: $nav-active-bkg !important;
      color: $nav-active-text !important;
      border-radius: 2px;
    }

  }

  .category-desc {
    font-size: 0.8em;
    width: 25%;
    overflow: hidden;

    .active-desc {
      font-style: normal;
      color: #000;
    }
    .hover-desc {
      font-style: italic;
      color: #888;
    }
  }

  &:hover {
    .active-desc {
      display: none;
    }
  }

  .help-btn {
    margin-right: 2em;
  }
  
}

.album-bar {

  .explain-box {
    // display: inline-block;
    margin-top: 1em;
    // border: thin solid black;
    border-radius: 0.3em;
    padding: 0.5em;
    text-align: left;

    .explanation {
      font-size: 1em;
      font-style: italic;
      font-family: 'Roboto', sans-serif;
    }
  }
  

  .albums {
    text-align: center;
    .album-btn {
      display: inline-block;
      border: outset thin;
      padding: auto;
      margin: 2px;
      cursor: pointer;
      text-align: center;
    
      .album-name {
        font-size: 0.8em;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: $album-text;
      }
    
    }
    .selected-nav {
      border: inset thin;
      background-color: $selected-album-bkg;
    
      .album-name {
        color: $selected-album-text;
        font-weight: 600;
      }
    }
  }


  .explain-closed {
    margin-left: 5em;

    .current-item {
      margin-top: 1em;
      // border: thin solid;
      border-radius: 0.2em;
      padding: 0.3em;
  
      .nav-title {
        text-align: left;
        font-family: 'Great Vibes', cursive;
        font-size: 1.5em;
        font-weight: 600;
      }
      .nav-description {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8em;
        font-weight: normal;
      }
    }

  }

  
  
}

// DEVELOPMENT MODE

$dev-nav-bkg: #ddd;
$dev-nav-text: #003;
$dev-nav-link-text: #066;
$dev-nav-active-bkg: #033;
$dev-nav-active-text: #fff;

$dev-album-bkg: #0ff;
$dev-album-text: #000;

$dev-selected-album-bkg: #0cc;
$dev-selected-album-text: #000;


.dev-mode {

  .category-bar {
    background-color: $dev-nav-bkg;

    .label {
      color: $dev-nav-text;
    }

    .nav-link {
      color: $dev-nav-link-text;
      
      &.active {
        background-color: $dev-nav-active-bkg !important;
        color: $dev-nav-active-text !important;
      }

    }

    .category-desc {

      .active-desc {
        color: #000;
      }
      .hover-desc {
        color: #088;
      }
    }
    
  }

  .album-bar {
    outline: thin double #870;

    .explanation {
      font-family: 'Courier New', Courier, monospace;
      outline: thin dashed #800;
      max-height: 10vh;
    }

    .albums {
      .album-btn {
        .album-name {
          font-family: 'Courier New', Courier, monospace;
          color: $dev-album-text;
        }
      
      }
      .selected-nav {
        background-color: $dev-selected-album-bkg;
      
        .album-name {
          color: $dev-selected-album-text;
        }
      }
    }

    .current-item {
      border: thin solid #c0c;
      border-radius: 0.2em;
      padding: 0.3em;

      .nav-description {
        font-family: 'Courier New', Courier, monospace;
      }
    }
    
  }

}
