
$nav-bkg: #ddd;
$nav-text: #000;
$nav-link-text: #111;
$nav-active-bkg: #333;
$nav-active-text: #ddd;

$album-bkg: #fff;
$album-text: #000;

$selected-album-bkg: #00fdc8;
$selected-album-text: #000;

// Gallery Nav (filter types)
.gallery-nav {
  background-color: $nav-bkg;
  border-radius: 5px;
  padding: 2px 3px;
  cursor: pointer;
  text-align: center;
  color: $nav-text;

  div {
    display: inline;
    margin: 0 5px;
  }

  a {
    text-decoration: none;
    color: $nav-link-text;
    padding: 2px 3px;

    &:hover {
      text-decoration: underline;
    }

    &.active, &.active:hover {
      background-color: #333;
      text-decoration: none;
      color: $nav-active-text;
      border-radius: 2px;
    }
  }
}

// Filter Options
.album-list {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select-label {
  font-size: 14px;
}

.list-title {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}

.album-btn {
  display: inline;
  border: outset thin;
  margin: 2px;
  cursor: pointer;

  .album-name {
    font-size: 18px;
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    color: $album-text;
  }

  .album-desc {
    font-size: 10px;
    text-align: left;
    margin: 5px;
    visibility: hidden;
  }

  &:hover {
    .album-desc {
      visibility: visible;
    }
  }
}
.selected-nav {
  border: inset thin;
  background-color: $selected-album-bkg;

  .album-name {
    color: $selected-album-text;
    font-weight: 600;
  }
}

// selected nav name
.current-nav {
  text-align: center;
  margin: 5px auto;
  color: $album-text;

  .nav-title {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Amatic SC', sans-serif;
  }

  .nav-description {
    font-size: 1em;
    font-weight: normal;
    font-family: 'Source Code Pro', monospace;
  }
}
