
.image-view {
  margin: 0 auto;
  
  &.enabled {
    cursor: pointer;
  }
  img {
    // width: 100%;
    height: auto;
  }
  .placeholder {
    min-height: 400px;
    background-color: #666;
  }

  &.full-width img {
    width: 100%;
    height: auto;
  }
}

.stacker .image-view img {
  width: 100%;
}
